# Laravel & PHP
/vendor/
/node_modules/
/bootstrap/cache/
/storage/
/storage/*.key
/public/build
/public/hot
/public/storage
.env
.env.*
.env.backup
.env.production
/*.log
*.sql
*.sqlite
/.phpunit.result.cache
/.phpunit.cache
/.phpactor.json
/phpunit.xml
/phpunit.xml.dist

# IDE & Editors
/.idea/
/.vscode/
/nbproject/
/.fleet
*.sublime-workspace
*.swp

# OS Files
.DS_Store
Thumbs.db

# Composer & NPM
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
npm-debug.log
yarn-error.log
auth.json

# Laravel Specific
/public/mix-manifest.json
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/public/vendor
/sync.json

# Cache & Logs
/storage/framework/*
/storage/logs/*
/storage/debugbar
/debugbar
Homestead.json
Homestead.yaml

# PHPUnit
.phpunit.result.cache
/.phpunit.cache
/phpunit.xml
/phpunit.xml.dist
/tests/_output/
tests/_support/_generated/

# Misc
*.bak
*.seed
