*{
    padding: 0;
    margin: 0;
    font-family: arial;
    border: border-box;
}
body{
    background-color:rgb(1, 19, 43);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: antiquewhite;
    display: inline-block;
    padding: 20px;
}
.ray{
    margin-left: 350px;
    display: inline-block;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid antiquewhite;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    margin-right: 35px;
}
h2{
    color: antiquewhite;
    text-align: center;
    padding: 5px;
}
.inputbutton{
    margin-left: 350px;
    margin-top: 220px;
    display: flex;
}
#input{
    height: 50px;
    width: 600px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(183, 226, 212);
    border-radius: none;
}

.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.box{
    border: 5px solid antiquewhite;
    height: 350px;
    width: 300px;
    background-color: rgba(0, 0, 0,0.1);