*{
    padding: 0;
    margin: 0;
    font-family: arial;
    border: border-box;
}
body{
    background-color:rgb(1, 19, 43);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: antiquewhite;
    display: inline-block;
    padding: 20px;
    text-align: justify;
}
.ray{
    margin-left: 350px;
    display: inline-block;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid antiquewhite;
}
a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 25px;
    margin-right: 35px;
}
h2{
    color: antiquewhite;
    text-align: center;
    padding: 5px;
}
.inputbutton{
    margin-left: 350px;
    margin-top: 220px;
    display: flex;
}
#input{
    height: 50px;
    width: 600px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-size: 20px;
    text-align: center;
    background-color: rgb(183, 226, 212);
    border-radius: none;
}

.content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.box{
    border: 5px solid antiquewhite;
    height: 350px;
    width: 300px;
    background-color: rgba(0, 0, 0,0.1);
    border-radius: 15px;
}
.box-img{
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.add{
    margin-top: 30px;
    margin-left: 600px;
    border-radius: 5px;
}
.footer{
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 30px;
    background-color: rgb(14, 13, 13);
    border-radius: 15px;
}
.last{
    color: rgb(76, 161, 133);
    margin-top: 15px;
}
 
/* Sandyedited */
.contactus{
    margin:0 10%;
}

.location{
    justify-content: center;
    align-items: center;
display: flex;
}
i{
    padding-top: 60px;
    color: red;
}

#detail{
    display: flex;
   align-items: center;
   justify-content: space-between;
   color: aliceblue;
}
h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 18px;
    text-align: center;
    color: aliceblue;
}    
.comment{
    margin-left: 10%;
    /* width: 100%; */
    border-radius: 50px solid black;
}
.comment .commentd input,textarea{
width: 80%;
height: 60px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-style: bold;
color: green;
border-radius: 20px;
}
textarea{
    width: 80%;
    height: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    color: green;
}
textarea,::placeholder {
    color: #000000;
    opacity: 1;
  }
  textarea, input:placeholder-shown {
    border: 1px solid #ff3c06;
  }

  .comment .commentd button{
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: 2px solid red;
    text-align: center;
    width: 180px;
    height: 60px;
    color: whitesmoke;
    border-radius: 20px;
  }
  .comment .commentd button:hover{
    color:white;
    background-color: red;
}
.contactinfo{
    text-align: center;
    background-color: rgb(235, 232, 228);
    /* padding: 5px; */
    margin: 0 10%;
    border-radius: 20px;
}
.contactinfo h5{
    text-align: center;
    justify-content: space-between;
}
.contactinfo i{
    margin: 0 5%;
    padding-bottom: 10px;
    
   }
.form{
    background-color: #cce;
    text-align: center;
    margin: 0 10%;
    padding: 2px;
    padding-bottom: 10px;
}
.form button:hover{
    background-color: red;
    color: aliceblue;
}

.message{
    padding-left: 7px;
}
