.container {
    width: 50%;
    margin: 125px auto;
}

form{
    background: rgba(220, 228, 242,0.4);
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    color:antiquewhite;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background:rgb(42, 158, 197);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #043d7a;
}
.note {
    text-align: center;
    color:antiquewhite;

}


body {
    background-color: rgb(1, 19, 43);
    background-image: url('');
}
h2{
    color:antiquewhite;
    text-align: center;
    font-size: 40px;
    font-family: 'Helvetica', sans-serif;
}
p{
    color:antiquewhite;  
}
.logintext{
    text-align: right;
    color: rgb(2, 38, 86); 
}